@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.element {
  width: 6in; /* Sets the width to 8.27 inches */
  height: 7.2in; /* Sets the height to 11.69 inches */
}
.height {
  height: 7.2in;
}
